<launch>
  <arg name="model" value="$(find nao_description)/urdf/nao.urdf"/>
  <arg name="gui" default="True" />
  <param name="robot_description" textfile="$(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" 
    type="joint_state_publisher">
    <rosparam param="zeros">
      HeadYaw: 0.0

      HeadPitch: 0.0

      LHipYawPitch: 0.0
      LHipRoll: 0.0
      LHipPitch: 0.0
      LKneePitch: 0.0
      LAnklePitch: 0.0
      LAnkleRoll: 0.0

      RHipYawPitch: 0.0
      RHipRoll: 0.0
      RHipPitch: 0.0
      RKneePitch: 0.0
      RAnklePitch: 0.0
      RAnkleRoll: 0.0

      LShoulderPitch: 0.0
      LShoulderRoll: 0.0
      LElbowYaw: 0.0
      LElbowRoll: -0.79
      LWristYaw: 0.0
      LHand: 0.0
      LFinger11: 0.0
      LFinger12: 0.0
      LFinger13: 0.0
      LFinger21: 0.0
      LFinger22: 0.0
      LFinger23: 0.0
      LThumb1: 0.0
      LThumb2: 0.0

      RShoulderPitch: 0.0
      RShoulderRoll: 0.0
      RElbowYaw: 0.0
      RElbowRoll: 0.79
      RWristYaw: 0.0
      RHand: 0.0
      RFinger13: 0.0
      RFinger12: 0.0
      RFinger11: 0.0
      RFinger21: 0.0
      RFinger22: 0.0
      RFinger23: 0.0
      RThumb1: 0.0
      RThumb2: 0.0
    </rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nao_description)/launch/display.rviz"/>
</launch>
